# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment variables
.env

# Static and media (if generated locally)
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db